<h2 class="text-center mt-4 font-semibold text-xl">Sorteos realizados</h2>

<div class="mb-8 p-4 w-full mt-4 flex flex-col gap-4">
  @if (drawList().length > 0) {
    @for (item of drawList(); track item.id) {
      <app-draw-component (selectInfoToDelete)="selectDrawToDelete($event)" [draw]="item"></app-draw-component>
    }
  } @else {
    <p class="text-center p-4">Cargando sorteos...</p>
  }
</div>

<gc-dialog title="Confirmar acción" [open]="dialogOpen()" (openChange)="dialogOpen.set($event)">
  <p>¿Estás seguro de eliminar el sorteo {{ drawToDelete()?.id }}?</p>
  <div gcDialogFooter class="flex justify-end gap-3">
    <gc-button variant="outline" (click)="dialogOpen.set(false)">Cancelar</gc-button>
    <gc-button background="red" [disabled]="loading()" (click)="onDeleteItem()"
      >{{ loading() ? 'Cargando' : 'Confirmar' }}
    </gc-button>
  </div>
</gc-dialog>