<div class="flex flex-col justify-center items-center min-h-screen px-4 mt-4 mb-8">
  <h2 class="font-semibold text-xl text-center mb-4">Listado de clientes registrados</h2>
  <div class="w-full flex items-end gap-6">
    <gc-input
      (valueChange)="onSearch($event)"
      inputLabel="Busca un cliente"
      placeholder="Escribe el nombre de un cliente"
    />
    <button (click)="getInfoList()">
      <ng-icon name="ionReloadCircle" color="#49B1E9" size="30" />
    </button>
  </div>

  <p class="mt-4 self-start text-sm">Registros: {{ infoList().length }}</p>
  <div class="h-128 mb-8 border border-bdcolor rounded-xl w-full mt-4 overflow-y-scroll relative">
    @if (infoList().length > 0) {
      @for (item of infoList(); track item.id) {
        <app-info-component
          (selectInfoToDelete)="setInfoToDelete($event)"
          [item]="item"
        ></app-info-component>
      }
    } @else {
      <p class="text-center p-4">Cargando clientes...</p>
    }
  </div>
  <div class="flex flex-col space-y-2 w-full">
    <gc-button (click)="dialogSorteo.set(true)" class="w-full" size="lg" background="#49B1E9"
      >Realizar sorteo</gc-button
    >
    <gc-button (click)="dialogDeleteAll.set(true)" class="w-full" size="lg" background="red"
      >Borrar todos los registros</gc-button
    >
  </div>
</div>

<gc-dialog title="Confirmar acción" [open]="dialogOpen()" (openChange)="dialogOpen.set($event)">
  <p>¿Estás seguro de eliminar a {{ itemToDelete()?.name }}?</p>
  <div gcDialogFooter class="flex justify-end gap-3">
    <gc-button variant="outline" (click)="dialogOpen.set(false)">Cancelar</gc-button>
    <gc-button background="red" [disabled]="loading()" (click)="onDeleteItem()"
      >{{ loading() ? 'Cargando' : 'Confirmar' }}
    </gc-button>
  </div>
</gc-dialog>

<gc-dialog
  title="Confirmar acción"
  [open]="dialogDeleteAll()"
  (openChange)="dialogDeleteAll.set($event)"
>
  <p>¿Estás seguro de eliminar todos los registros? Esta acción no se podrá deshacer</p>
  <div gcDialogFooter class="flex justify-end gap-3">
    <gc-button variant="outline" (click)="dialogOpen.set(false)">Cancelar</gc-button>
    <gc-button background="red" [disabled]="loading()" (click)="deleteAll()"
      >{{ loading() ? 'Cargando' : 'Confirmar' }}
    </gc-button>
  </div>
</gc-dialog>

<gc-dialog title="Realizar sorteo" [open]="dialogSorteo()" (openChange)="dialogSorteo.set($event)">
  <p>Escoge el número de ganadores</p>
  <div class="flex justify-center items-center gap-4 mt-4">
    <ng-icon
      (click)="winners() > 1 && winners.set(winners() - 1)"
      name="ionRemove"
      size="35"
      color="#49B1E9"
      class="border border-bdcolor rounded-xl active:opacity-60"
    ></ng-icon>
    <p class="text-xl">{{ winners() }}</p>
    <ng-icon
      (click)="winners() < infoList().length && winners.set(winners() + 1)"
      name="ionAdd"
      size="35"
      color="#49B1E9"
      class="border border-bdcolor rounded-xl active:opacity-60"
    ></ng-icon>
  </div>
  @if (winners() === infoList().length) {
    <p class="text-red-500">
      El número de ganadores no puede exceder del número total de participantes
    </p>
  }
  @if (winnersList().length > 0) {
    <div>
      <p class="text-lg font-semibold mt-4 mb-2">Ganadores:</p>
      <ul class="list-decimal list-inside ml-4">
        @for (winner of winnersList(); track winner.id) {
          <li>{{ winner.name }}</li>
        }
      </ul>
    </div>
  }
  <div gcDialogFooter class="flex justify-end gap-3">
    <gc-button
      [disabled]="winners() === infoList().length"
      variant="outline"
      background="#49B1E9"
      (click)="dialogOpen.set(false)"
      >Cancelar</gc-button
    >
    @if (winnersList().length > 0) {
      <gc-button background="#49B1E9" [disabled]="loadingDraw()" (click)="saveDraw()">
        {{ loadingDraw() ? 'Cargando' : 'Guardar sorteo' }}
      </gc-button>
    }
    <gc-button background="#49B1E9" (click)="doSorteo()">
      {{ winnersList().length > 0 ? 'Sortear otra vez' : 'Empezar' }}
    </gc-button>
  </div>
</gc-dialog>
